manifest {
    homePage = 'https://github.com/iarcbioinfo/VCF-isec-nf'
    description = 'Intersect two VCFs with small variants'
    mainScript = 'VCF-isec.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { 
    docker.enabled = true 
    process.container = 'iarcbioinfo/VCF-isec-nf'
  }
  singularity { 
    singularity.enabled = true 
    process.container = 'docker://IARCbioinfo//VCF-isec-nf'
  }
}

process {
    shell =  ['/bin/bash','-euo','pipefail']
}

params {
    output_folder = "."
}

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/VCF-isec-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/VCF-isec-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/VCF-isec-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/VCF-isec-nf_dag.html"
}
